In [1]:
#Importing the required python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Loading the dataset present in a CSV file
insur_data=pd.read_csv('insurance_pre.csv')
insur_data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#Getting the column names of insurance dataset
insur_data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [4]:
#Converting categorical data into numerical data
ins_data_numerical=pd.get_dummies(insur_data,drop_first=True)
ins_data_numerical

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
#Getting the column names of insurance dataset, after converting categorical data to numerical 
ins_data_numerical.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
#Storing input and output into separate variables
indep_ins_Data=ins_data_numerical[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep_ins_data=ins_data_numerical[['charges']]

In [7]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep_ins_Data,dep_ins_data,test_size=1/3,random_state=0)

In [8]:
#Applying standardization to bring data into same scale
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [107]:
#Building Adaboost model using train data
from sklearn.ensemble import AdaBoostRegressor
adaRegressor=AdaBoostRegressor(n_estimators=10,learning_rate=0.01,loss='exponential',random_state=0)
adaRegressor=adaRegressor.fit(X_train,y_train)

C:\Users\sanja\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [108]:
#Predicting the built model on test data
y_pred=adaRegressor.predict(X_test)
y_pred

array([11460.91547956, 11421.78471858, 45121.15854841, 15848.40277634,
       11421.78471858,  6896.84648719,  3488.29702681, 11421.78471858,
        6939.72162804,  6656.80102996,  6939.72162804, 11421.78471858,
       11388.72204678,  6896.84648719, 18573.32925177, 11421.78471858,
       15396.11027798,  4423.35360664,  6939.72162804, 37355.31179281,
       25858.44968044, 11460.91547956, 11460.91547956, 25858.44968044,
        3488.29702681,  6656.80102996,  4423.35360664,  6939.72162804,
        4423.35360664, 11421.78471858,  6939.72162804, 45121.15854841,
       15848.40277634, 11460.91547956, 18573.32925177,  4423.35360664,
       11421.78471858, 37355.31179281, 38975.1210974 ,  3488.29702681,
        6896.84648719,  4423.35360664, 18573.32925177, 45121.15854841,
       37355.31179281,  3756.90227786, 11421.78471858,  6939.72162804,
        6656.80102996, 11460.91547956,  3488.29702681,  3756.90227786,
       25858.44968044, 45121.15854841, 11460.91547956,  4423.35360664,
        3990.34468665, 11421.78471858, 11388.72204678, 15396.11027798,
        3488.29702681, 45121.15854841, 15396.11027798, 11421.78471858,
       11421.78471858, 11421.78471858, 37355.31179281, 38975.1210974 ,
        3756.90227786,  6939.72162804, 15848.40277634, 11460.91547956,
       18573.32925177, 15848.40277634, 15396.11027798, 15396.11027798,
       11421.78471858, 11388.72204678, 18573.32925177, 45121.15854841,
       11460.91547956, 44900.64710982,  3488.29702681, 11421.78471858,
       44900.64710982, 18573.32925177,  4423.35360664,  3990.34468665,
       15396.11027798, 38614.00090909,  6656.80102996, 11460.91547956,
        3990.34468665, 11421.78471858,  6896.84648719,  6656.80102996,
       45121.15854841, 45121.15854841,  6656.80102996, 11460.91547956,
        3488.29702681,  6939.72162804,  6656.80102996, 38975.1210974 ,
       25592.97009293,  4423.35360664, 11460.91547956,  4423.35360664,
       11460.91547956, 45121.15854841, 11460.91547956,  6656.80102996,
       11421.78471858, 37355.31179281, 45121.15854841,  6939.72162804,
        3756.90227786, 11421.78471858, 15396.11027798, 11421.78471858,
       44900.64710982, 11460.91547956, 15848.40277634,  6656.80102996,
       11388.72204678,  6656.80102996, 25858.44968044, 25858.44968044,
       45121.15854841,  3488.29702681, 11388.72204678,  3756.90227786,
        6939.72162804, 11421.78471858, 38975.1210974 , 38975.1210974 ,
       25592.97009293, 11421.78471858, 25858.44968044,  3756.90227786,
        3488.29702681, 11460.91547956, 11421.78471858, 11460.91547956,
        6939.72162804, 15848.40277634, 15396.11027798,  3756.90227786,
        3488.29702681, 11460.91547956,  6939.72162804, 37355.31179281,
       11421.78471858,  3756.90227786,  3756.90227786,  6939.72162804,
        3756.90227786,  3756.90227786, 11421.78471858, 11421.78471858,
        6194.36301762, 15848.40277634, 15396.11027798, 11421.78471858,
        4423.35360664,  4423.35360664, 18573.32925177,  6656.80102996,
        6656.80102996,  3488.29702681,  6194.36301762,  6656.80102996,
       11388.72204678,  3990.34468665,  6194.36301762,  4423.35360664,
        6656.80102996,  6939.72162804, 25858.44968044,  3488.29702681,
       11460.91547956,  6939.72162804, 11460.91547956,  4423.35360664,
        6939.72162804, 25858.44968044,  3488.29702681,  3756.90227786,
       15848.40277634, 11421.78471858, 45121.15854841,  4423.35360664,
        6939.72162804, 25858.44968044,  3990.34468665,  3990.34468665,
        6939.72162804,  6939.72162804,  6656.80102996,  6656.80102996,
       11460.91547956, 45121.15854841, 11460.91547956, 18573.32925177,
        6656.80102996, 45121.15854841,  4423.35360664, 11460.91547956,
        6939.72162804,  3488.29702681, 11421.78471858, 15848.40277634,
        6656.80102996,  3488.29702681,  6939.72162804,  3990.34468665,
        6939.72162804,  6939.72162804, 15396.11027798,  6939.72162804,
        6939.72162804,  6939.72162804, 11421.78471858,  3990.34468665,
       11460.91547956, 15848.40277634, 11460.91547956, 11460.91547956,
        6939.72162804,  3990.34468665,  3488.29702681, 11421.78471858,
       15396.11027798,  3756.90227786,  6656.80102996,  6939.72162804,
       11421.78471858, 37355.31179281,  6939.72162804, 11460.91547956,
        6896.84648719, 37355.31179281,  6939.72162804, 11388.72204678,
       11388.72204678, 11460.91547956,  3756.90227786, 11388.72204678,
        3488.29702681,  6939.72162804, 18573.32925177, 45121.15854841,
        4423.35360664,  4423.35360664,  3488.29702681,  3488.29702681,
       11421.78471858,  3488.29702681,  4423.35360664,  6194.36301762,
       11421.78471858, 25858.44968044, 45121.15854841, 15848.40277634,
        6939.72162804, 11460.91547956, 38614.00090909, 11421.78471858,
       38975.1210974 ,  3488.29702681, 37355.31179281,  6656.80102996,
       11460.91547956,  4423.35360664, 38975.1210974 ,  6939.72162804,
       11460.91547956, 11421.78471858,  3756.90227786, 15396.11027798,
       11460.91547956,  6896.84648719, 15396.11027798,  3488.29702681,
        6939.72162804,  3756.90227786,  6939.72162804, 25858.44968044,
        4423.35360664,  3488.29702681,  3756.90227786, 45121.15854841,
       11421.78471858,  6656.80102996, 11460.91547956, 11460.91547956,
       37355.31179281,  6939.72162804,  6939.72162804, 11421.78471858,
        3488.29702681,  3756.90227786, 18573.32925177, 18573.32925177,
       15848.40277634,  3990.34468665,  4423.35360664, 11421.78471858,
       11460.91547956, 18573.32925177, 18573.32925177,  6939.72162804,
       18573.32925177,  3488.29702681,  6896.84648719,  6896.84648719,
       11421.78471858,  3756.90227786, 11388.72204678, 45121.15854841,
        3756.90227786,  6194.36301762,  3488.29702681, 11421.78471858,
        4423.35360664, 11460.91547956, 45121.15854841, 18573.32925177,
       11421.78471858, 44900.64710982, 11460.91547956,  6656.80102996,
       11421.78471858,  3756.90227786, 25858.44968044,  6656.80102996,
       15848.40277634,  3756.90227786, 18573.32925177,  3990.34468665,
       25858.44968044,  6896.84648719,  3990.34468665, 37355.31179281,
        6656.80102996,  6896.84648719, 25858.44968044,  3488.29702681,
       11388.72204678,  3756.90227786, 11421.78471858,  4423.35360664,
        6939.72162804,  6656.80102996, 45121.15854841, 11421.78471858,
       38975.1210974 , 37355.31179281,  6939.72162804,  6939.72162804,
        3488.29702681,  4423.35360664,  3756.90227786, 11421.78471858,
       45121.15854841, 11460.91547956,  3488.29702681, 15396.11027798,
        3488.29702681, 11421.78471858,  6656.80102996,  3488.29702681,
        4423.35360664, 37355.31179281,  6939.72162804,  3488.29702681,
       38975.1210974 , 11460.91547956, 45121.15854841, 11460.91547956,
        6656.80102996,  3488.29702681,  3488.29702681, 11421.78471858,
        6939.72162804,  3488.29702681, 11460.91547956,  6939.72162804,
        6896.84648719,  4423.35360664,  3488.29702681, 38614.00090909,
        3488.29702681, 11421.78471858,  3488.29702681,  6939.72162804,
       11460.91547956,  6656.80102996, 18573.32925177, 11460.91547956,
       15848.40277634, 15848.40277634,  3488.29702681,  6896.84648719,
       11460.91547956, 11388.72204678,  6939.72162804,  3488.29702681,
       37355.31179281, 15848.40277634,  6939.72162804, 15848.40277634,
       11421.78471858, 11460.91547956, 45121.15854841,  3756.90227786,
       11421.78471858,  3488.29702681, 15396.11027798,  3488.29702681,
        6939.72162804,  3488.29702681, 11460.91547956,  6896.84648719,
       11460.91547956, 45121.15854841,  6896.84648719, 37355.31179281,
       18573.32925177, 11460.91547956, 11421.78471858, 37355.31179281,
       11421.78471858,  4423.35360664, 11421.78471858, 25858.44968044,
       37873.3420593 , 18573.32925177, 11421.78471858, 38975.1210974 ,
        4423.35360664, 18573.32925177,  3990.34468665, 37355.31179281,
        6656.80102996, 11460.91547956])

In [109]:
#Calculating R^2 value
from sklearn.metrics import r2_score
rsquared_value=r2_score(y_test,y_pred)
rsquared_value

0.8817868548840054