In [140]:
#Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [141]:
#Loading the dataset
insurance_data=pd.read_csv('insurance_pre.csv')
insurance_data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [142]:
#Getting the column names
insurance_data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [143]:
#Converting categorical data into numerical data
ins_data_numerical=pd.get_dummies(insurance_data, drop_first=True)
ins_data_numerical

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [144]:
#Getting the column names of insurance dataset, after converting categorical data to numerical 
ins_data_numerical.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [145]:
#Storing input and output into separate variables
indep_ins_Data=ins_data_numerical[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep_ins_data=ins_data_numerical[['charges']]

In [146]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep_ins_Data,dep_ins_data,test_size=1/3,random_state=0)

In [152]:
#Applying standardization to bring data into same scale
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [159]:
#Building Decision Tree model using train data
from sklearn.tree import DecisionTreeRegressor
dt_regressor=DecisionTreeRegressor(criterion='squared_error',splitter="random",max_features="log2")
dt_regressor=dt_regressor.fit(X_train,y_train)

In [160]:
#Predicting the model on test data
y_pred=dt_regressor.predict(X_test)
y_pred

array([ 9288.0267  ,  8930.93455 , 47462.894   , 13405.3903  ,
        9264.797   , 21984.47061 ,  1615.7667  , 12495.29085 ,
        7281.5056  ,  5253.524   ,  6402.29135 ,  9861.025   ,
        7050.642   ,  4571.41305 , 18246.4955  , 11741.726   ,
       12142.5786  ,  3292.52985 ,  6338.0756  , 33750.2918  ,
       22218.1149  , 13607.36875 ,  9625.92    , 24535.69855 ,
        2250.8352  ,  4076.497   ,  4719.73655 ,  8538.28845 ,
        3757.8448  ,  8027.968   ,  9414.92    , 48673.5588  ,
       21797.0004  , 21797.0004  , 20167.33603 ,  3554.203   ,
        8733.22925 , 39774.2763  , 40941.2854  ,  1880.07    ,
        4992.3764  ,  2866.091   , 37829.7242  , 49577.6624  ,
       36307.7983  ,  3056.3881  , 11741.726   ,  6289.7549  ,
        4719.52405 , 12032.326   ,  2473.3341  ,  3481.868   ,
       23807.2406  , 49577.6624  , 11093.6229  , 19673.33573 ,
        3292.52985 , 11743.299   , 10096.97    , 12913.9924  ,
        1252.407   , 40720.55105 , 12363.547   , 25333.33284 ,
       12949.1554  , 10579.711   , 33750.2918  , 44585.45587 ,
        2913.569   ,  7512.267   , 12233.828   ,  9957.7216  ,
       16297.846   , 13887.204   , 12629.8967  , 12233.828   ,
        7526.70645 , 32108.66282 , 37701.8768  , 47896.79135 ,
       11455.28    , 46200.9851  ,  2250.8352  ,  7147.4728  ,
       41661.602   , 19361.9988  ,  3392.9768  ,  2904.088   ,
       12913.9924  , 36950.2567  , 10381.4787  ,  9487.6442  ,
        3201.24515 ,  8516.829   ,  3704.3545  ,  4350.5144  ,
       39727.614   , 40720.55105 ,  4949.7587  , 11566.30055 ,
        1826.843   ,  4402.233   , 20177.67113 , 36950.2567  ,
       24915.22085 ,  4719.73655 ,  8688.85885 ,  3172.018   ,
       13822.803   , 43921.1837  , 12094.478   ,  4463.2051  ,
        9447.25035 , 34617.84065 , 48673.5588  ,  6593.5083  ,
        2103.08    , 11743.299   , 11945.1327  ,  8944.1151  ,
       41949.2441  ,  9264.797   , 14901.5167  ,  5253.524   ,
        7633.7206  ,  4529.477   , 24535.69855 , 22218.1149  ,
       44400.4064  ,  1534.3045  ,  8516.829   ,  1727.54    ,
        5974.3847  ,  8688.85885 , 62592.87309 , 34672.1472  ,
       35069.37452 ,  9855.1314  , 23887.6627  ,  1815.8759  ,
        1877.9294  , 11743.299   ,  8978.1851  , 10601.63225 ,
        5125.2157  , 13887.204   , 31620.00106 , 22395.74424 ,
        1628.4709  , 10791.96    ,  5974.3847  , 42112.2356  ,
        8964.06055 , 11272.33139 ,  2719.27975 ,  6238.298   ,
        2639.0429  , 11272.33139 , 11741.726   ,  8522.003   ,
        2497.0383  , 13405.3903  , 12629.8967  , 10450.552   ,
        4134.08245 ,  4830.63    , 20167.33603 ,  6128.79745 ,
        4239.89265 ,  1634.5734  ,  2497.0383  ,  3847.674   ,
        7640.3092  ,  1981.5819  ,  2494.022   ,  4830.63    ,
        3847.674   ,  6123.5688  , 25309.489   ,  1705.6245  ,
       10806.839   ,  5934.3798  , 11743.9341  ,  2497.0383  ,
       11737.84884 , 28868.6639  ,  2250.8352  ,  3056.3881  ,
       13880.949   ,  9800.8882  , 39727.614   , 22395.74424 ,
        7077.1894  , 35069.37452 ,  2727.3951  , 12609.88702 ,
        5584.3057  , 10381.4787  , 19442.3535  ,  4239.89265 ,
       10928.849   , 43921.1837  , 13607.36875 , 20745.9891  ,
       18157.876   , 42211.1382  ,  3537.703   , 11743.9341  ,
        6571.544   ,  1146.7966  ,  8964.06055 , 13844.7972  ,
        4340.4409  ,  2855.43755 ,  6289.7549  , 12609.88702 ,
        6548.19505 ,  4719.52405 , 14001.1338  ,  6686.4313  ,
       20462.99766 ,  7985.815   , 17929.30337 ,  3213.62205 ,
       12430.95335 , 14410.9321  , 12646.207   , 12629.8967  ,
        8891.1395  ,  3309.7926  ,  1712.227   ,  8068.185   ,
       12622.1795  ,  4830.63    ,  4719.52405 ,  7256.7231  ,
        9447.25035 , 34672.1472  ,  5855.9025  , 12094.478   ,
        5469.0066  , 17560.37975 , 24915.04626 ,  4992.3764  ,
        7441.501   ,  9288.0267  ,  2102.2647  ,  7639.41745 ,
        2527.81865 ,  6272.4772  , 18328.2381  , 40941.2854  ,
        3500.6123  ,  3227.1211  ,  1615.7667  ,  1704.70015 ,
        7147.4728  ,  7882.429475,  4915.05985 ,  4719.73655 ,
        8603.8234  , 24180.9335  , 43921.1837  , 11881.9696  ,
        6289.7549  , 11566.30055 , 40419.0191  ,  8944.1151  ,
       38415.474   ,  1137.011   , 36021.0112  ,  4673.3922  ,
       31620.00106 , 22395.74424 , 20773.62775 ,  5012.471   ,
       11353.2276  , 10096.97    ,  1980.07    , 31620.00106 ,
       12815.44495 , 12404.8791  ,  9487.6442  , 21344.8467  ,
        5488.262   ,  3861.20965 ,  8965.79575 , 21774.32215 ,
        3292.52985 ,  1705.6245  ,  1832.094   , 47896.79135 ,
       10791.96    ,  4350.5144  , 13607.36875 , 11674.13    ,
       18033.9679  ,  6238.298   ,  4762.329   ,  9144.565   ,
        1639.5631  ,  1769.53165 , 12829.4551  , 15518.18025 ,
       12233.828   ,  3309.7926  ,  3227.1211  ,  8604.48365 ,
       13393.756   , 20167.33603 , 20745.9891  , 20462.99766 ,
       16115.3045  ,  2130.6759  ,  5415.6612  ,  3704.3545  ,
       26236.57997 ,  1702.4553  ,  6250.435   , 48885.13561 ,
        2639.0429  ,  3956.07145 ,  2585.85065 , 20878.78443 ,
        3943.5954  , 12629.8967  , 41919.097   , 15006.57945 ,
        8964.06055 , 41949.2441  , 13607.36875 , 19442.3535  ,
        9288.0267  ,  3861.20965 , 45008.9555  ,  4350.5144  ,
       13415.0381  ,  3077.0955  , 15518.18025 ,  3176.8159  ,
       24869.8368  ,  6474.013   , 12609.88702 , 38792.6856  ,
        6128.79745 ,  7046.7222  , 40720.55105 ,  1639.5631  ,
        8891.1395  ,  1842.519   ,  8965.79575 ,  3392.3652  ,
       11737.84884 ,  5253.524   , 47055.5321  ,  8539.671   ,
       37701.8768  , 37484.4493  ,  5855.9025  ,  6799.458   ,
        1252.407   ,  4719.73655 ,  2719.27975 ,  9386.1613  ,
       60021.39897 ,  8688.85885 ,  1743.214   , 12124.9924  ,
        2020.5523  , 20878.78443 ,  2866.091   ,  1826.843   ,
        2897.3235  , 36307.7983  ,  6710.1919  ,  1702.4553  ,
       39047.285   , 11394.06555 , 60021.39897 ,  8688.85885 ,
        4076.497   ,  2775.19215 ,  2457.21115 , 10806.839   ,
        4747.0529  ,  1622.1885  ,  9872.701   ,  7281.5056  ,
        5966.8874  , 22395.74424 , 13126.67745 , 37484.4493  ,
        1526.312   , 27117.99378 ,  7882.429475,  7443.64305 ,
       11566.30055 ,  4438.2634  , 17560.37975 ,  9504.3103  ,
       11576.13    , 24513.09126 ,  1615.7667  ,  6571.02435 ,
        8965.79575 ,  7046.7222  ,  5257.50795 ,  2130.6759  ,
       34439.8559  , 11743.9341  ,  6775.961   , 13405.3903  ,
        8823.98575 , 10942.13205 , 44400.4064  ,  3861.20965 ,
        6474.013   ,  1526.312   , 13430.265   ,  1534.3045  ,
        7133.9025  ,  1634.5734  , 12235.8392  ,  5488.262   ,
        8688.85885 , 43578.9394  ,  5272.1758  , 18033.9679  ,
       32734.1863  , 11566.30055 ,  7421.19455 , 38126.2465  ,
       17929.30337 ,  3353.284   ,  9748.9106  , 21259.37795 ,
       36950.2567  , 18328.2381  ,  9866.30485 , 41919.097   ,
        4661.28635 , 17560.37975 ,  2632.992   , 34303.1672  ,
        4438.2634  , 10579.711   ])

In [161]:
#Calculating R^2 value
from sklearn.metrics import r2_score
rsquared_value=r2_score(y_test,y_pred)
rsquared_value

0.7226870308184636

In [162]:
# Getting value calculated for importances of features/column
dt_regressor.feature_importances_

array([0.16540854, 0.22252787, 0.01794151, 0.00542521, 0.58869687])

In [163]:
#Getting number of features
dt_regressor.max_features_

2

In [164]:
# Forming tree
dt_regressor.tree_

In [ ]:
#Plotting and displaying tree
from sklearn import tree
tree.plot_tree(dt_regressor)
plt.show()